/Exercicio01.class
/Exercicio02.class
/Exercicio03.class
/Exercicio04.class
/Exercicio05.class
/Exercicio06.class
/Exercicio07.class
/Exercicio08.class
/Exercicio09.class
/Exercicio10.class
/MainListaEx.class
/Exercicio11.class
/Exercicio12.class
/Exercicio13.class
/Exercicio15.class
/Exercicio16.class
/Exercicio14.class
/Exercicio17.class
/Exercicio18.class
/Exercicio21.class
/Exercicio19.class
/Exercicio23.class
/Exercicio22.class
/Exercicio24.class
/Exercicio25.class
/Exercicio27.class
/Exercicio26.class
/Exercicio28.class
/Exercicio29.class
/Exercicio30.class
/Exercicio20.class
/Exercicio20$Exercicio14.class
